<ul>
  <li><a routerLink="/p03-compo/c01-ng-content">c01-ng-content</a></li>
  <li><a routerLink="/p03-compo/c02-ng-content-m">c02-ng-content-m</a></li>
  <li><a routerLink="/p03-compo/c03-ng-template-basic">c03-ng-template-basic</a></li>
  <li><a routerLink="/p03-compo/c04-ng-template-medium">c04-ng-template-medium</a></li>
  <li><a routerLink="/p03-compo/c05-ng-template-input">c05-ng-template-input</a></li>
  <li><a routerLink="/p03-compo/c06-ng-template-content-child">c06-ng-template-content-child</a></li>
  <li><a routerLink="/p03-compo/c07-ng-template-named-slots">c07-ng-template-named-slots</a></li>
  <li><a routerLink="/p03-compo/c08-ng-template-dynamic">c08-ng-template-dynamic</a></li>
  <li><a routerLink="/p03-compo/canvas">canvas</a></li>
  <li><a routerLink="/dashboard">dashboard</a></li>
</ul>
